<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='your_file_name.css') }}"
    />
</head>
<body>
    <h1>{{ title }}</h1>
        <ul>
            {% for order in order_list %}
                <li><a href="/orders/{{loop.index}}">Customer</a>: {{ order.customer_name }}, Ordered: {{ order.order_date }}, Game: {{ order.game_title }}, Quantity: {{ order.quantity }}</li>
            {% endfor %}
        </ul>
</body>
</html>