<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='your_file_name.css') }}"
    />
</head>
<body>
    <h1>Order: {{ title }}</h1>
        <ul>
            <li>Customer: {{ specific_order.customer_name }}</li>
            <li>Ordered: {{ specific_order.order_date }}</li>
            <li>Game: {{ specific_order.game_title }}</li>
            <li>Quatity: {{ specific_order.quantity }}</li>
        </ul>
</body>
</html>